{{#if card.tags}}
  {{#each card.tags as |tag| }}
    {{card-tag tag=tag card=card }}
  {{/each}}
{{else}}
  {{card-tag card=card }}
{{/if}}
<span class="tag-instructions {{if clicked 'hide'}}">Click to add/remove tags</span>