{{md-btn buttonType='floating' class='edit-set-btn btn-tiny' action="edit" icon='mdi-editor-mode-edit'}}
{{md-btn action='delete' buttonType='floating' class='delete-set-btn btn-tiny' icon='mdi-action-delete' }}
{{#link-to "study" cardset class='li-link' }}
  <div class="set-name">{{cardset.name}}</div>
  <div class="card-count">{{cardset.cardCount}} cards</div>

{{/link-to}}

