{{autosave-textarea editable=editable save='saveCard' class='left card-editor-field' value=card.front placeholder='front'}}
<div class='card-editor-spacer'>
  &nbsp; &nbsp;
</div>
{{autosave-textarea editable=editable save='saveCard' class='right card-editor-field' value=card.back placeholder='back' isEditing=isEditingBack}}
