
<div class="card-pane">
  {{card-editor saveCard='saveCard' card=card isEditingBack=isEditingBack editable=editable}}
  {{#if showDeleteButton}}
    {{md-btn buttonType='floating' isDisabled=disableDelete class='red delete-card-button btn-tiny' action="deleteCard" actionArg=card icon='mdi-action-delete'}}
  {{/if}}
</div>

<div class="card-labels">
  {{card-tags tags=cardSet.tags card=card deleteCard='deleteCard' selectedTag=selectedTag ownCard=card.belongsToCurrentUser}}
</div>
