<label>Front</label>
{{textarea value=card.front placeholder='front'}}
<label>Back</label>
{{textarea value=card.back placeholder='back'}}
<button {{action 'saveCard'}}>Save</button>
<button {{action 'hideCardEditor' bubbles=false}}>Cancel</button>
