@import 'materialize';
@import 'ember-cli-materialize';

@import "variables";
@import "mixins";
@import "study";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

$top-nav-height: 40px;

html, body {
  padding: 0;
  margin: 0;
}

#top-nav {
  position:fixed;
  top: 0px;
  left:0px;
  width:100%;
  z-index:2;
  background: #49AA67;
  color: white;
  height: $top-nav-height;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  input[type=text], input[type=password] {
    background: white;
    color: black;
  }
  a {
    color: white;
  }
  #title {
    @include vertical-centered-container;
    padding-left: 25px;
    a {
      font-size: 24px;
    }
  }
}
.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  @include vertical-centered-container;
  margin-right: 10px;
}

#content {
  margin: 80px 20px 20px 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#card-list-section{
  margin-left: 40px;
}

ul#card-list {
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 1px solid;
    border-radius: 6px;
    background: lightblue;
    padding: 6px;
    margin-bottom: 10px;
  }
  .card-front {
    font-weight: bold;
  }
}

.li-link {
  cursor: pointer;
}

.action-button {
  background: red;
  padding: 1px 4px;
}

.btn-floating.btn-tiny {
  width: 20px;
  height: 20px;
  i {
    font-size: 1em;
    line-height: 20px;
  }
}

h2 {
  font-size: 2.5em;
  input[type=text] {
    font-size: 0.8em;
  }
  .input-field label {
    top: 1.8rem;
  }
  small {
    font-size: 50%;
  }
  .sub-header {
    font-size: 0.5em;
    color: darkgray;
  }
}

#card-set-name {
  margin-top: 20px;
}

html {
  font-size: 16px;
}

.card-editor-field {
  width: 100%;
}

.card-editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  textarea {
    background: white;
    height: 6rem;
  }
}
