@import "variables";
@import "study";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

$top-nav-height: 40px;

html, body {
  padding: 0;
  margin: 0;
}

#top-nav {
  position:fixed;
  top: 0px;
  left:0px;
  width:100%;
  z-index:2;
  background: #282828;
  color: white;
  height: $top-nav-height;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  #title {
    padding: 6px;
    padding-left: 25px;
    a {
      font-size: 24px;
      color: $light-purple;
    }
  }
}

#set-nav {
  border-top: 4px black solid;
  position: absolute;
  top: 100px;
  min-height: 400px;
  left: 20px;
  width: 230px;
  overflow: hidden;
  z-index: 1;
  padding: 4px 1px;
  //border-radius: 4px;
  h3 {
    margin: 16px 0 2px 0;
    //border-bottom: 1px solid black;
    padding-bottom: 2px;
  };
  ul.card-sets {
    color: $dark-purple;
    font-weight: bold;
  }
}

#content {
  margin: 60px 20px 20px 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.hidden {
  display: none;
}
ul {
  padding: 0;
}

#card-list-section{
  margin-left: 240px;
}

ul#card-list {
  li {
    border: black 1px solid;
    border-radius: 6px;
    background: $primary-green;
    padding: 6px;
    margin-bottom: 10px;
  }
  .card-front {
    font-weight: bold;
  }
}

.li-link {
  cursor: pointer;
}

button, .btn {
  color:  white;
  border:  none;
  border-radius: 6px;
  box-shadow: none;
}

.action-button {
  background: red;
  padding: 1px 4px;
}
