@import 'components/color';

$primary-color: color("blue", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("blue", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

@import "variables";
@import "mixins";
@import "index";
@import "cardset";
@import "study";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


html, body {
  padding: 0;
  margin: 0;
}

#top-nav {
  margin: 0 20px;
  color: white;
  height: $top-nav-height;
  padding: 0;
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  font-size: 12px;
  button {
    display: inline-block;
    @include vertical-centered-container;
    padding: 0;
    text-transform: uppercase;
    width: 120px;
    color: black;
    background: white;
    border: none;
  }
  #title {
    @include vertical-centered-container;
    a {
      font-size: 32px;
    }
  }
  a.nav-link {
    @include vertical-centered-container;
    margin: 0 10px;
    color: black;
    text-transform: uppercase;
    width: 80px;
    font-size: 12px;
    height: 50px;
    text-align: center;
  }
}

.nav-section {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(center);
  @include flex-grow(1);
  width: calc((100% - 40px)/3);
}

#top-nav-left {
  @include justify-content(flex-start);
}

#top-nav-right {
  @include justify-content(flex-end);
}

#flashcards-title {
  margin: 20px 20px 30px 20px;
  text-align: center;
  font-size: 28px;
  font-family: monospace;
}

#content {
  margin: 0 20px;
  background: #F5F5F5;
  padding: 2px 18px;
  min-height: 1400px;
  h2 {
    margin: 30px 0;
    font-weight: bold;
    text-align: center;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.li-link {
  cursor: pointer;
}

.action-button {
  padding: 1px 4px;
}

.btn-floating.btn-tiny {
  width: 20px;
  height: 20px;
  i {
    font-size: 1em;
    line-height: 20px;
  }
}

h2 {
  font-size: 2.5em;
  input[type=text] {
    font-size: 0.8em;
  }
  .input-field tag {
    top: 1.8rem;
  }
  small {
    font-size: 50%;
  }
  .sub-header {
    font-size: 0.5em;
    color: darkgray;
  }
}

html {
  font-size: 16px;
}

.materialize-checkbox {
  display: inline-block;
}

input[type=text],
input[type=email],
input[type=password] {
  margin: 0;
  &.non-mdn {
    border: none;
    box-shadow: none;
    &:focus {
      box-shadow: none;
      border-bottom: none;
    }
    &:focus:not([readonly]) {
      box-shadow: none;
      border-bottom: none;
    }
    &:focus:not([readonly])+label {
      box-shadow: none;
      border-bottom: none;
    }
    &.valid,
    &:focus.valid {
      box-shadow: none;
      border-bottom: none;
    }
    &.invalid,
    &:focus.invalid {
      box-shadow: none;
      border-bottom: none;
    }
    &.invalid + label:after,
    &:focus.invalid + label:after {
      box-shadow: none;
      border-bottom: 1px solid $input-error-color;
    }
  }
}

#no-sets-button-container {
  margin-top: 10px;
  text-align: center;
}

.cardset-item {
  position: relative;
  &:hover {
    .edit-set-btn, .delete-set-btn {
      display: inline;
    }
  }
  .set-name, .card-count {
    color: white;
  }
}

.edit-set-btn, .delete-set-btn {
  display: none;
  position: absolute;
  top: 4px;
  z-order: 5;
}

.edit-set-btn {
  left: 4px;
}

.delete-set-btn {
  right: 4px;
}

.error-msg {
  color: red;
  font-weight: bold;
}

