@import 'variables';


#card-list {
  li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 6px;
    margin-bottom: 24px;
    &:hover {
      .tag-instructions {
        display: inline;
      }
    }
  }
  .card-front {
    font-weight: bold;
  }
}

.card-editor-spacer {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.delete-card-button {
  display: none;
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 1;
}

.card-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: inherit;
  padding: 0;
  margin: 0;
  &:hover {
    .delete-card-button {
      display: inline-block;
    }
  }
}

.card-editor-field {
  width: 100%;
  padding: 0;
  margin: 0;
  &.left {
    margin-right: 4px;
  }
  &.right {
    margin-left: 4px;
  }
}

$card-set-labels-left-margin: 10px;
#card-tags {
  margin: 0 0 30px $card-set-labels-left-margin;
}

#cards-label {
  margin: 0 0 4px $card-set-labels-left-margin;
}
.card-editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  textarea {
    resize: none;
    padding: 5px;
    background: white;
    border: none;
    height: 9rem;
    z-index: 2;
    &:focus {
      background: $edit-color;
    }
  }
}

#tag-list {
  display: inline-block;
}
.tag-editor {
  display: inline-block;
  padding: 1px 2px;
  margin: 0 0 6px 10px;
  input[type=text] {
    height: 1.5rem;
    width: 100px;
    margin: 0;
  }
  a {
   display: none;
  }
  &:hover {
    a {
      display: inline-block;
      background: red;
    }
    input {
      background: white;
    }
  }
}

.tag-input {
  display: inline;
  input {
    color: $secondary-color;
    @include whiteback-editable;
  }
}

#content h2#card-set-name {
  margin: 20px 0 60px 0;
  position: relative;
}

#card-set-name-input {
  text-align: center;
  display: inline-block;
  input {
    text-align: center;
    @include whiteback-editable;
  }
}
.card-labels {
  margin-top: -6px;
  color: $secondary-color;
  .tag-name {
    font-size: 14px;
  }
  width: 100%;
  .dropdown-button {
    background: yellow;
    z-index: 100;
    font-size: 12px;
    line-height: 16px;
  }
}

.card-tags {
  width: 100%;
  font-size: 13px;
  margin-top: 2px;
  .tag-name {
    display: inline;
    padding: 1px;
  }
}
.card-tag.selected {
 background: lightgrey;
}

.card-tag-autocomplete {
  display: inline-block;
}

.tt-suggestion {
  height: 1.1em;
  line-height: 1.1em;
  border: none;
  &:before {
    border: none;
  }
}

.typeahead-wrap {
  top: -3.5px;
  input[type=text]{
    width: 12px;
    height: 1em;
    border-bottom: none;
    margin: 0;
  }
}

.card-tag-autocomplete .tt-dropdown-menu.visible {
  display: none;
}

.card-tag-autocomplete {
  &.has-input {
    &.has-suggestions {
      .tt-dropdown-menu.visible {
        display: inline-block;
        z-index: 10;
      }
    }
    .typeahead-wrap {
      input[type=text]{
        width: 100px;
        background: $edit-color;
      }
    }
  }
}

.tag-instructions {
  display: none;
  color: gray;
  font-size: 12px;
}

.card-set-lbl {
  display: inline-block;
  width: 80px;
}

$bear-top-offset: 6px;
$bear-left-offset: 10px;

.study-btn {
  position: absolute;
  top: $bear-top-offset;
  right: $bear-left-offset;
}


#set-bear {
  position: absolute;
  top: $bear-top-offset;
  left: $bear-left-offset;
  width: 37px;
}