#card-list-section{
  margin-left: 40px;
}

ul#card-list {
  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: black 1px solid;
    border-radius: 6px;
    background: lightblue;
    margin-bottom: 10px;
  }
  .card-front {
    font-weight: bold;
  }
}

.card-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: inherit;
  padding: 0 0 0 4px;
  margin: 0;
}

.card-editor-field {
  width: 100%;
}

#card-labels{
  margin-bottom: 30px;
}
.card-editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  textarea {
    padding: 5px;
    background: white;
    height: 6rem;
    &:focus {
      background: #fbfcbf;
    }
  }
}

.label-editor {
  display: inline-block;
  background: lavender;
  padding: 1px 2px;
  margin-bottom: 6px;
  input[type=text] {
    height: 1.5rem;
    width: 140px;
    margin: 0;
  }
}

.label-input {
  display: inline;
}

#card-set-name-input {
  display: inline-block;
}
.card-labels {
  .dropdown-button {
    font-size: 12px;
    line-height: 16px;
  }
}
