.card-editor-field {
  width: 100%;
}

#card-labels{
  margin-bottom: 30px;
}
.card-editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  textarea {
    padding: 5px;
    background: white;
    height: 6rem;
    &:focus {
      background: #fbfcbf;
    }
  }
}

.label-editor {
  display: inline-block;
  background: lavender;
  padding: 1px 2px;
  margin-bottom: 6px;
  input[type=text] {
    height: 1.5rem;
    width: 140px;
    margin: 0;
  }
}

.label-input {
  display: inline;
}

#card-set-name-input {
  display: inline-block;
}
