@mixin vertical-centered-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
}

@mixin whiteback-editable {
  border-bottom: none;
  &:hover, &:focus {
    background: white;
  }
}

@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin justify-content($strategy) {
  -webkit-justify-content: $strategy;
  justify-content: $strategy;
}

@mixin flex-grow($val) {
  -webkit-flex-grow: $val;
  flex-grow: $val;
}