$study-page-left-margin: 50px;


#content#study-page {
  margin: 20px;
}

$study-elem-width: 800px;



#study-options {
  margin-bottom: 20px;
  .materialize-checkbox {
    display: inline-block;
  }
}

#study-buttons {
  position: absolute;
  margin: 0;
  padding: 0;
}

#study-results {
  font-size: 22px;
  padding: 10px;
}

.study-panel {
  position: relative;
  .card {
    width: $study-elem-width;
  }
}


#card-panel {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-floating {
    opacity: 0.6;
  }
}


#card-face {
  text-align: center;
  font-size: 28px;
}

#study-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#study-instructions {
  color: gray;
  font-size: 12px;
}
