{{#modal-dialog
  alignmentTarget='.new-set-btn'
  alignment='bottom'
  focusSelector='.card-set-name'
  close='closeModal'
  doSomething='createCardset'
}}
  <label>Name</label>
  {{input class='card-set-name' value=newCardsetName placeholder='name'}}
  {{md-btn text='New Set' action='createCardset'}}
{{/modal-dialog}}
