{{#modal-dialog
  alignmentTarget='#login-btn'
  alignment='left'
  focusSelector='input:first'
  close='closeModal'
  doSomething='login'
}}
  {{md-input value=email label="email" type='email' class='email'}}
  {{md-input value=password label="password" type='password' class='password'}}
  <div class="error-msg" id="login-error">{{loginError}}</div>
  {{md-btn text='Login' action='login' class='submit-login-btn'}}
{{/modal-dialog}}
