{{#modal-dialog
  alignmentTarget='#login-btn'
  alignment='left'
  focusSelector='input:first'
  close='closeModal'
  doSomething='login'
  class="login-modal"
}}
  {{input value=email label="email" type='email' class='email'}}
  {{input value=password label="password" type='password' class='password'}}
  <button {{action 'login'}} class='submit-login-btn'>Login</button>
{{/modal-dialog}}
