{{#modal-dialog
  alignmentTarget='#signup-btn'
  alignment='right'
  focusSelector='input:first'
  close='closeModal'
  doSomething='login'
}}
  {{md-input value=email label="email" type='text'}}
  {{md-input value=password label="password" type='password'}}
  {{md-input value=passwordConfirmation label="confirm password" type='password'}}
  <div class="error-msg" id="signup-error">{{signupError}}</div>
  {{#md-btn class='btn-small' action='signup'}}Sign up{{/md-btn}}
{{/modal-dialog}}
