{{partial "top_nav"}}

<div id="content">
  {{outlet}}
</div>

{{#if showCardSetCreateModal}}
  {{#modal-dialog
    alignmentTarget="#new-set-button"
    alignment='right'
    close='toggleModal'
    doSomething='createCardSet'
  }}
    <label>Name</label>
    {{input value=newCardSetName placeholder='name'}}
    {{md-btn text='New Set' action='createCardSet'}}
  {{/modal-dialog}}

  {!-- ember-cli-materialize modal container --}}
  {!-- todo: compare with current modal --}}
  {{!md-modal-container}}
{{/if}}
