{{partial "top_nav"}}

<div id="content">
  {{outlet}}
</div>

{{#if showCardSetCreateModal}}
  {{#create-card-set-modal
  alignmentTarget=createSetModalOffsetTarget
  alignment='right'
  close='toggleModal'
  doSomething='createCardSet'
  }}
    <label>Name</label>
    {{input class='card-set-name' value=newCardSetName placeholder='name'}}
    {{md-btn text='New Set' action='createCardSet'}}
  {{/create-card-set-modal}}
{{/if}}
