{{partial "top_nav"}}

<div id="content">
  {{outlet}}
</div>

{{#if showCardSetCreateModal}}
  {{#modal-dialog
    alignmentTarget=createSetModalOffsetTarget
    alignment='right'
    focusSelector='.card-set-name'
    close='toggleModal'
    doSomething='createCardSet'
  }}
    <label>Name</label>
    {{input class='card-set-name' value=newCardSetName placeholder='name'}}
    {{md-btn text='New Set' action='createCardSet'}}
  {{/modal-dialog}}
{{/if}}
