{{partial "top_nav"}}

<div id="content">
  {{outlet}}
</div>

{{#if showCardSetCreateModal}}
  {{#modal-dialog
    alignmentTarget="#new-set-button"
    alignment='right'
    close='toggleModal'
    doSomething='createCardSet'
  }}
    <label>Name</label>
    {{input value=newCardSetName placeholder='name'}}
    <button {{action 'createCardSet'}}>New Set</button>
  {{/modal-dialog}}
{{/if}}
