<h2>What do you want to Study?</h2>

<div id="index-sets-container">
  <ul id="index-card-sets">
    {{#each model as |set| }}
      {{#link-to "study" set.id tagName="li" class='li-link' }}
        <div class="set-name">{{set.name}}</div>
        <div class="card-count">{{set.cardCount}} cards</div>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
