<div id="set-nav">
  <h3>My Sets</h3>
  {{#if isLoggedIn}}
      <ul class="card-sets">
        {{#each cardSets as |set| }}
          {{#link-to "card-set" set tagName="li" class='li-link'}}{{set.name}} ({{set.cardCount}}){{/link-to}}
        {{/each}}
      </ul>
  {{else}}
    Please login
  {{/if}}

</div>
