<div id="set-nav">
  <h3>My Sets</h3>
  {{#if isLoggedIn}}
    (show userSets)
  {{else}}
    Login - todo
  {{/if}}

  <h3>Public Sets</h3>
  <ul>
    {{#each set in publicSets}}
      {{#link-to "card-set" set tagName="li" }}{{set.name}} ({{set.cardCount}}){{/link-to}}
    {{/each}}
  </ul>
</div>
